.logo {
  background: #001529;
  height: 32px;
  margin: 16px;
  text-align: center;
}

.logo .sm-logo {
  display: none;
}

.logo .lg-logo {
  color: white;
  font-size: 18px;
  display: block;
}

@media (max-width: 576px) {
  .logo .sm-logo {
    display: block;
  }

  .logo .lg-logo {
    display: none;
  }
}

.trigger {
  font-size: 18px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.site-layout .site-layout-background {
  background: #fff;
}
